
:host{
  display: flex;
  display: block;
  width: 100%;
  height: 100%;
  flex-wrap:wrap;
}



.example-card {

  max-width: 400px;
  margin: 0 auto;
}


.mat-tab-nav-bar{
  background-color: #29b0ef;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 0 10px #ccc;
  width: 100%;

}
.mat-sidenav{
  position: fixed;
  margin-top: 68px;

}

.sideNav{
  position: fixed;

}
.login{
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: primary;
  color: #fff;
  font-size: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
}
.login:hover{
  background-color: #29b0ef;
  color: #fff;
}


 

