<h2 class="form-title">Register</h2>
<form (ngSubmit)="onSubmit()" class="register-form">
  <mat-form-field class="form-field">
    <input matInput placeholder="Display Name" type="text" [(ngModel)]="displayName" name="displayName" required>
  </mat-form-field>
  <mat-form-field class="form-field">
    <input matInput placeholder="Username" type="text" [(ngModel)]="username" name="username" required>
  </mat-form-field>
  <mat-form-field class="form-field">
    <input matInput placeholder="Email" type="email" [(ngModel)]="email" name="email" required>
  </mat-form-field>
  <mat-form-field class="form-field">
    <input matInput placeholder="Password" type="password" [(ngModel)]="password" name="password" required>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" class="submit-button">Register</button>
</form>
